<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div class="app-title">
      <mat-icon>check_circle</mat-icon> 
      <span>{{ title }}</span>
    </div>

    <div class="theme-toggle">
      <mat-icon>wb_sunny</mat-icon> 
      <mat-slide-toggle
        [checked]="isDarkMode$ | async"
        (change)="toggleDarkMode()"
        matTooltip="Toggle dark mode"
        aria-label="Toggle dark mode">
      </mat-slide-toggle>
      <mat-icon>nightlight_round</mat-icon> 
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <app-todo-form class="fade-in"></app-todo-form>
  <app-todo-list class="fade-in"></app-todo-list>
</div>

<footer>
  <p>Made with Angular & Material Design</p>
</footer>